<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;

        }
    </style>

</head>
<body>
    <h1>Hello, {{name}}!</h1>
    <h3>Today's technology headlines are...</h3>

    <table>
        <tr>
            <td><b> id </b></td>
            <td><b> Title</b></td>
            <td><b> Image</b></td>
        </tr>
    {% for index,title in title_list %}

      <tr>
          <td><h3>{{ index + 1 }}</h3> </td>
          <td><a href= {{ url_list[index] }}>{{title}}</a> </td>
          <td><img src = {{ image_list[index] }} border="3" height="100" width="100" ></img></td>
        </tr>

    {% endfor %}

    </table>

</body>
</html>